main {
    margin: 1rem 1rem 2.5rem;
    gap: 2rem;

    & section header{
        justify-content: space-between;

        font-size: var(--fw-md);

        border-top: 1px solid var(--stroke-color);
        padding-top: .75rem;

        & a{
            align-items: center;
            gap: .25rem;
        }
    }
}

#highlights {    
    grid-template-rows: min(408px) 1fr;
    border: none;

    .card {
        position: relative;
        
        & img {            
            object-fit: cover;
            border-radius: .25rem;
            max-width: 100%;
        }
    
        & figcaption {
            gap: .5rem;
            position: absolute;
            bottom: 0;
            margin: auto .75rem .75rem;
            max-width: 570px;
    
            & h1, h3 {
                margin-top: .5rem;                
            }    
        }

        &::before {
            content: "";
            position: absolute;
            max-width: 577px;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                180deg,
                transparent 0%,
                #020617 100%
            );
        }
    }

    & > .card {
        & figcaption {
            margin: auto 1rem 1rem;
        } 

        & img {
            height: 100%;
        }
    }
}

#weekly {
    & .cards {
        grid-template-rows: repeat(4, 1fr);

        margin-block: 1.5rem;
        

        & img {            
            object-fit: cover;
            border-radius: .25rem;
            max-width: 100%;
        }

        & h2 {
            margin-top: .5rem;          
        }

        & figure {
            position: relative;

            & .content-tag {
                position: absolute;
                top: .5rem;
                left: .5rem;
            }
        }
    }
}

#ai {    
    & .cards {
        grid-template-rows: repeat(4, 1fr);
        gap: 2rem;

        margin: 1.5rem 1rem 2rem;

        & figure {
            gap: 1rem;        

            & img {
                width: 80px;
                height: 80px;
            }
    
            & figcaption h2 {
                margin-block: .5rem .25rem;
                -webkit-line-clamp: 2;
            }
        }
    }
}

#aside {
    & .ads {
        justify-content: center;

        & img {
            max-width: 100%;
            height: 100%;
        }
    }

    & header {
        margin-block: 2rem 1.5rem;
    }

    & .cards {
        gap: 2rem;
        margin-bottom: 1rem;

        & img {
            width: 72px;
            height: 72px;
        }

        & figure {
            gap: 1rem;

            & figcaption h3 {
                margin-top: .5rem;
                -webkit-line-clamp: 2;
            }
        }
    }
}

@media (width >= 57em) {
    main {
        margin: 2.5rem 2rem 5rem;
        row-gap: 5rem;
        column-gap: 2rem;

        grid-template-columns: 1.8fr 1.2fr;
    
        grid-template-areas:
        "highlights highlights"
        "weekly weekly"
        "ai aside";
    }

    #highlights {
        grid-area: highlights;
        grid-template-rows: initial;
        grid-template-columns: 1fr 1fr;

        & > .card {
            & figcaption {
                margin: auto 1.5rem 1.5rem;
            }
        }
    }

    #weekly {
        grid-area: weekly;
        
        & .cards {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: initial;
            gap: 1rem;
        }
    }

    #ai {
        grid-area: ai;

        & .cards {
            & figure {
                position: relative;
    
                & img {
                    margin-left: auto;
                    width: 176px;
                    height: 176px;
                }
            }
        }
    }
}